################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercise3/.vs/Exercise3/v15
/Exercise3/bin/Debug
/Exercise3/.vs/Exercise3/DesignTimeBuild
/Exercise3/obj/Debug
